header {
    height: 80px;
    background-color: #c0504d;
    color: white;
    text-align: center;
  }
  nav {
    height: 50px;
    background-color: #e5b8b7;
    border-style: solid;
    border-color: #e5b8b7;
    color: white;
    text-align: center;
    line-gap-override: 50px;
  }
  aside {width: 150px;
    background-color: #e5b8b7;
    border-top-style: solid;
    border-right-style: solid;
    text-align: center;
    line-height: 50px;
    float: left;
    height: 300px;

  }
  main {
    background-color: #f2dbdb;
    border-top-style: solid;
    border-top-color: white;
    height: 300px;
    padding-left: 175px;
  }
  footer {
    background-color: #c0504d;
    height: 140px;
    text-align: center;
  }